<p id="notice"><%= notice %></p>

<h1>Project Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact no</th>
      <th>Email</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_details.each do |project_detail| %>
      <tr>
        <td><%= project_detail.name %></td>
        <td><%= project_detail.contact_no %></td>
        <td><%= project_detail.email %></td>
        <td><%= project_detail.country %></td>
        <td><%= project_detail.description %></td>
        <td><%= link_to 'Show', project_detail %></td>
        <td><%= link_to 'Edit', edit_project_detail_path(project_detail) %></td>
        <td><%= link_to 'Destroy', project_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Detail', new_project_detail_path %>
