<style type="text/css">
  .home-style {
    background: url(/assets/landing/smarten-augmented-analytics-banner.jpg) no-repeat;
    background-color: #F6F9FC;
    background-origin: content-box;
  }

  .banner-txt {
    text-align: center;
    background: rgba(109, 100, 100, 0.82);
    font-size: 32px;
    color: white;
    padding: 20px 0;
    margin-bottom: -212px;
  }

  .get-start-area {
    background-color: #fb397d;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: none;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 0px 24px 0px;
    margin-left: 10px;
  }

  .display-table {
    width: 100%;
    display: flex;
    display: webkit-flex;
    display: moz-flex;
    display: o-flex;
    display: ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-qracto-point {
    display: inline-block;
    width: 75%;
  }

  .text-center {
    text-align: center !important;
  }

  .about-align {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 0px;
  }

  .white-icon {
    float: left;
  }

  .white-text {
    margin: 0 0 20px 30px;
    text-align: left;
  }

</style>
<section id="home" class="u-py-100 u-h-100vh u-flex-center home-style">
  <div class="container">
    <div class="banner-txt">
      <p>Smart Data Discovery for Smart Business Users!</p>
      <p>Augmented Analytics: Sophisticated, Self-Serve Tools and Guidance for Business Users</p>
      <p>Advanced Data Discovery Tools Suitable for Every Business User and Data Scientist</p>
      <%= link_to 'Get Started', '#', class: 'get-start-area' %>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center about-align">
        <h1>Qracto Identity</h1>
        <h4>Advanced Analytics Experts</h4>
      </div>
      <div class="display-table">
        <div class="col-xs-12 col-sm-12 dis-tbl-cel text-center">
          <div class="self-serve-cont">
            <p>Approach to augmented data discovery and advanced analytics tools is based upon</p>

            <div class="about-qracto-point">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Technology Leadership" title="Technology Leadership"></div>
                <p class="white-text">Technology Leadership</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Team Environment" title="Team Environment"></div>
                <p class="white-text">Team Environment</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="white-icon"><img src="/assets/landing/leftarrow.jpg" alt="Customer and Partner Focus" title="Customer and Partner Focus"></div>
                <p class="white-text">Customer and Partner Focus</p>
              </div>
            </div>

            <div class="clearfix"></div>

            <p>
              Qracto solution includes dynamic, cutting-edge business intelligence and data discovery tools conceived and developed by Elegant MicroWeb. The Qracto product represents the evolution of the Elegant MicroWeb flagship ElegantJ BI business intelligence tools.
            </p>
            <p>
              Elegant MicroWeb has more than two decades of experience in building world-class software products and applications. In the ensuing decades, the team has developed a report writer, a PDF publisher, tools for graphing and charting, and a library of JAVA beans to address networking, database connectivity, graphs other needs. The team uses a unique Managed Memory Computing approach for performance balancing and easy handling of large datasets for all business intelligence and analytical needs.
            </p>
            <p>
              The client base for Elegant MicroWeb, ElegantJ BI and Qracto products is comprised of small, medium and large businesses around the world.
            </p>
            <p>
              Qracto Augmented Analytics represents the evolution of the ElegantJ BI approach to business intelligence, and the significance of self-serve data preparation, smart visualization, assisted predictive modeling, and Clickless Analytics powered by Natural Language Processing.
            </p>
            <p>
              The <a href="https://www.elegantjbi.com/elegantjbi/business-intelligence-company-india.html" target="_blank">Qracto team</a> experts combines business intelligence, business analysts, data scientists, engineers and data warehouse (DWH) professionals, working together to redefine and re-imagine business intelligence tools and to create a solid foundation in which Business Users can become Citizen Data Scientists.
            </p>
          </div>
        </div><!-- dis-tbl-cel end -->
      </div>
    </div>
  </div>
</section>

<section class="main-bg-back-1">

<div class="container">
   <div class="row align-items-center">
      <div class="col-lg-6">
         <h2 class="h1 text-white">
            How <span class="color-primary">devdap</span> Really Works
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 mb-5"></div>
         <p class="mb-5">
            Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
         </p>
         <ul class="list-unstyled u-fw-600 u-lh-2">
            <li>
               <i class="fa fa-check mr-2 color-primary"></i>
               Professional and easy to use software
            </li>
            <li>
               <i class="fa fa-check mr-2 color-primary"></i>
               Setup and installations takes 30 seconds
            </li>
            <li>
               <i class="fa fa-check mr-2 color-primary"></i>
               Perfect for any device with pixel perfect design
            </li>
            <li>
               <i class="fa fa-check mr-2 color-primary"></i>
               Setup and installations really really fast
            </li>
         </ul>
      </div>
      <div class="col-lg-6 pl-lg-5 ml-auto text-center">
         <%=image_tag("app/s-3_1.png", class: "wow fadeInRight", alt: "")%>

      </div>
   </div>
</div>
</section>
<section id="features">
<div class="container">
   <div class="row text-center">
      <div class="col-12">
         <h2 class="h1">
            Awesome Features
         </h2>
         <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-green text-white rounded-circle m-auto">
               <span class="icon icon-Tools u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Powerfull Features
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
               <span class="icon icon-Starship2 u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Awesome Design
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-yellow text-white rounded-circle m-auto">
               <span class="icon icon-MessageLeft u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Unlimited Support
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-primary text-white rounded-circle m-auto">
               <span class="icon icon-Notebook u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Fully Responsive
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-red text-white rounded-circle m-auto">
               <span class="icon icon-Bulb u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               Clean Code
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
      <div class="col-lg-4 col-md-6 u-mt-30">
         <div class="bg-grey px-4 py-5 px-md-5 u-h-100p rounded box-shadow-v1">
            <div class="u-w-90 u-h-90 u-flex-center bg-purple text-white rounded-circle m-auto">
               <span class="icon icon-Magnet u-fs-42"></span>
            </div>
            <h4 class="u-fs-26 u-pt-30 u-pb-20">
               UI Elements
            </h4>
            <p>
               Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por.
            </p>
         </div>
      </div>
   </div>
</div>
</section>
<section id="screenshot" class="bg-dark-grey">
  <%= render 'screenshot' %>
</section>

<section id="reviews">
  <%= render 'reviews' %>
</section>

<section id="faq" class="bg-gray-v1">
  <%= render 'faq' %>
</section>

<section id="blog">
  <%= render 'blog' %>
</section>