<header class="header header-shrink header-inverse fixed-top">
         <div class="container">
            <nav class="navbar navbar-expand-lg px-md-0">
               <a class="navbar-brand" href="/">
               <span class="logo-default">
               <h1 class="logo-brand-color">
                 Qracto
               </h1>
               </span>
               <span class="logo-inverse">
               <h1 class="logo-brand-color-inverse">Qracto</h1>
               </span>
               </a>
               <button class="navbar-toggler p-0" data-toggle="collapse" data-target="#navbarNav">
                  <div class="hamburger hamburger--spin js-hamburger">
                     <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                     </div>
                  </div>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <%= link_to 'HOME', '#', class: 'nav-link', data: {scrollto: "home"} %>
                     </li>
                     <li class="nav-item">
                        <%= link_to 'ABOUT US', '#', class: 'nav-link', data: {scrollto: "about"} %>
                     </li>
                     <li class="nav-item">
                        <%= link_to 'OUR TEAM', '#', class: 'nav-link', data: {scrollto: "our-team"} %>
                     </li>
                     <li class="nav-item">
                        <%= link_to 'CONTACT US', '#', class: 'nav-link', data: {scrollto: "contact-us"} %>
                     </li>
                     <li class="nav-item">
                        <%= link_to 'BLOGS', '#', class: 'nav-link', data: {scrollto: "blog"} %>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>